<%- include('partials/head')%>

    <body class="bg-primary p-2" style="--bs-bg-opacity: .15;">
        <%- include('partials/nav')%>
            <section class="container-sm">
                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <div class="card rounded-4 border-0 shadow">
                            <div class="card-body">
                                <h2 class="card-title text-center fs-4">Edit To Do</h2>
                                <div class="card-text">
                                    <form class="justify-content-center" action="/edit/<%=todo.id%>?_method=PATCH"
                                        method="POST">
                                        <textarea class="form-control" name="todo" id="" cols="30"
                                            rows="3"><%= todo.todo %></textarea>
                                        <br>
                                        <div class="row px-3">
                                            <button class="btn btn-success rounded-3">Save</button>
                                        </div>
                                    </form>
                                    <div class="mt-2">
                                        <form class="row px-3" method="POST" action="/edit/<%=todo.id%>?_method=DELETE">
                                            <button class="btn btn-outline-danger rounded-3">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </body>

    </html>